.height.trait {
  input {
    @include media($mobile) {
      font-size: 3em;
      @include span-columns(6)
    }


    @include media($tablet) {
      font-size: 3.9em;
      @include span-columns(3)
      @include shift(3)
    }
  }
  label {
    text-align: left;
    letter-spacing: 3px;
    font-size: 2em;
    margin-top: 0.5em;
    @include span-columns(6)

    @include media($tablet) {
      @include span-columns(3)
      font-size: 3.9em;
      text-align: left;
      margin-top: auto;
    }
  }
}
.weight.trait {
  input {
    @include media($mobile) {
      font-size: 3em;
      @include span-columns(3.5)
    }

    @include media($tablet) {
      @include span-columns(3)
    }
  }
  label {
    margin-top: 0.5em;
    text-align: left;
    letter-spacing: 3px;
    font-size: 2em;

    @include span-columns(2.5)

    @include media($tablet) {
      @include span-columns(3)
      font-size: 3.9em;
      text-align: left;
      margin-top: auto;
    }
  }
}
