.height.trait {
  input {
    @include media($mobile) {
      font-size: 3em;
      @include span-columns(6)
    }


    @include media($tablet) {
      @include span-columns(4)
    }
  }
  label {

    margin-top: 0.5em;
    text-align: left;
    letter-spacing: 3px;
    font-size: 2em;

    @include span-columns(6)

    @include media($tablet) {
      @include span-columns(4)
      font-size: 3.9em;
      text-align: left;
    }
  }
}
.weight.trait {
  input {
    @include media($mobile) {
      font-size: 3em;
      @include span-columns(3)
    }


    @include media($tablet) {
      @include span-columns(4)
    }
  }
  label {
    margin-top: 0.5em;
    text-align: left;
    letter-spacing: 3px;
    font-size: 2em;

    @include span-columns(3)

    @include media($tablet) {
      @include span-columns(4)
      font-size: 3.9em;
      text-align: left;
    }
  }
}
