@import 'bourbon';
@import './vars.scss';
@import "neat";
@import "neat-helpers";

html, body {
  font-family: 'Patrick Hand', cursive;
}
.container {
  @include outer-container
  text-align: center;
  margin-bottom: 3em;
}
.header {
  @include media($mobile) {
    @include span-columns(12)
  }
  @include media($tablet) {
    @include span-columns(12)
    @include shift(1)
    display: flex;
    align-items: center;
  }
  margin-bottom: 2em;

  .titles {
    font-family: 'Rammetto One', cursive;
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    text-align: center;

    @include media($tablet) {
      margin-right: 2em;
      @include span-columns(8)
      text-align: left;
    }

    h1 {
      margin-bottom: 0;
      font-size: 2.1em;

      @include media($tablet) {
        font-size: 3.2em;
      }
    }
    h2 {
      opacity: 0.65;
      margin-top: 0.4em;
      font-size: 1em;

      @include media($tablet) {
        font-size: 1.5em;
        margin-top: -0.3em;
      }
    }
    .help-text {
      font-family: 'Patrick Hand', cursive;
      margin-top: .8em;
      color: #27918c;
      font-size: 1.4em;

      @include media($tablet) {
        font-size: 2.1em;
      }
    }
  }
  .owl-wrapper {
    @include media($tablet) {
      @include span-columns(4)
    }

    .owl-icon {
      width: 10em;
      @include media($tablet) {
        margin-left: -11em;
      }
    }
  }
}

.trait {
  padding: 3em 1.8em;
  margin: auto;
  color: white;

  @include span-columns(12)

  @include media($desktop) {
    @include span-columns(10)
    @include shift(1);
    padding: 3em;
  }

  .trait-icon {
    width: 8em;
    margin: auto;
    opacity: .5;
  }

  .question {
    font-size: 2.6em;
    margin: 0em 0 0.7em;

    @include media($mobile) {
      line-height: 1.2em;
    }

    @include media($tablet) {
      font-size: 4em;
      margin: 0em 0 0.2em;
    }
  }

  .input-wrapper {
    @include span-columns(12 of 12);

    @include media($tablet) {
      @include span-columns(10 of 12);
      @include shift(1);
    }

    input {
      display: block;
      width: 100%;
      border: 0;
      outline: 0;
      background: transparent;
      border-bottom: 1.2px solid white;
      text-align: center;
      font-size: 2em;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: bold;
      font-family: 'Patrick Hand', cursive;
      color: white;

      @include media($tablet) {
        font-size: 4.5em;
      }
    }
    input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
    }
  }
}
.trait.name {
  background-color: #27918C;
}
.trait.height, .trait.predictor_name  {
  background-color: #e3812a;
}
.trait.weight {
  background-color: #FFC415;
}
.trait.eye_color{
  background-color: #A7CA98;
}
.trait.hair_color {
  background-color: #83C6d5;
}
.trait.hair_amount, .trait.outfit{
  background-color: #868385;
}
.hair_amount.input-wrapper {
  margin-bottom: 10em;

  @include media($tablet) {
    margin-bottom: 5em;
  }
}

.nav-buttons {
  @include span-columns(12 of 12)

  .back-button {
    @include span-columns(6 of 12)
    text-align: center;
  }
  .next-button {
    @include span-columns(6 of 12)
    text-align: center;
  }
}

button {
  font-family: 'Patrick Hand', cursive;
  color: white;
  margin: auto;
  cursor: pointer;
  margin-top: 2.4em;
  background-color: transparent;
  border: none;

  .fa{
    margin: 0 0.2em;
    opacity: .5;
  }
  span {
    font-size: 3.1em;
  }
}
.results {
  p {
    font-size: 1.3em;
    text-align: left;
    border-top: 1px solid #e0dedc;
    margin: 0;
    padding: 1em 0;
  }
  .item {
    font-weight: bold;
  }

  // Mulitcolored rows
  p:nth-child(3n - 1 ) {
    color: #e3812a;
    .item {
      color: #27918C;
    }
  }
  p:nth-child(3n - 2 ) {
    color: #FFC415;
    .item {
      color: #A7CA98;
    }
  }
  p:nth-child(3n - 3 ) {
    color: #83C6d5;
    .item {
      color: #868385;
    }
  }

  // Same color, darken
  p:nth-child(3n - 1 ) {
    color: lighten(#e3812a, 15%);
    .item {
      color: #e3812a;
    }
  }
  p:nth-child(3n - 2 ) {
    color: #A7CA98;
    .item {
      color: darken(#A7CA98, 15%);
    }
  }
  p:nth-child(3n - 3 ) {
    color: #83C6d5;
    .item {
      color: darken(#83C6d5, 15%);
    }
  }

  // just attributes color change
  // .predictor-name {
  //   color: #e3812a;
  // }
  // .name {
  //   color: #27918C;
  // }
  // .height {
  //   color: #e3812a;
  // }
  // .weight {
  //   color: #FFC415;
  // }
  // .eye-color {
  //   color: #A7CA98;
  // }
  // .hair-color {
  //   color: #83C6d5;
  // }
  // .hair-amount {
  //   color: #868385;
  // }
}

.hidden {
  display: none;
}

@import './height_weight_trait.scss';
@import './radio.scss';
@import './outfit.scss';
