@import 'bourbon';
@import './vars.scss';
@import "neat";

html, body {
  font-family: 'Patrick Hand', cursive;
}
.container {
  @include outer-container
  text-align: center;
}
.titles {
  h1 {
    font-family: 'Rammetto One', cursive;
    font-size: 3.5em;
    margin-bottom: 0;
  }
  h2 {
    font-family: 'Rammetto One', cursive;
    opacity: 0.65;
    margin-top: 0.4em;
    font-size: 0.8em;

    @include media($tablet) {
      font-size: 1.5em;
    }
  }
  .help-text {
    font-size: 2.1em;
    margin-top: .8em;
    color: #27918c;
  }
}
.header {
  margin: auto;
  display: table;
  vertical-align: middle;
  margin-bottom: 2em;
}
.header .titles {
  text-align: left;
  vertical-align: middle;
  display: inline-block;
  margin-right: 2em;
}
.owl-icon {
  width: 10em;
  vertical-align: middle;
}

.trait {
  padding: 3em;
  margin: auto;
  color: white;
  @include span-columns(12)

  @include media($desktop) {
    @include span-columns(2)
    @include shift(1);
  }

  .trait-icon {
    width: 8em;
    margin: auto;
    opacity: .5;
  }

  .question {
    font-size: 4em;
      margin: 0em 0 0.2em;
  }

  .input-wrapper {
    @include span-columns(10 of 12);
    @include shift(1);

    input {
      display: block;
      height: 1.5em;
      margin: auto;
      width: 100%;
      border: 0;
      outline: 0;
      background: transparent;
      border-bottom: 3px dashed white;
      text-align: center;
      font-size: 4.5em;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: bold;
    }
  }
}
.trait.name {
  background-color: #27918C;
}
.trait.height, .trait.predictor-name  {
  background-color: #e3812a;
}
.trait.weight {
  background-color: #FFC415;
}
.trait.eye_color{
  background-color: #A7CA98;
}
.trait.hair_color {
  background-color: #83C6d5;
}
.trait.hair_amount, .trait.outfit{
  background-color: #868385;
}

.nav-buttons {
  @include span-columns(12 of 12)

  .back-button {
    @include span-columns(6 of 12)
    text-align: center;
  }
  .next-button {
    @include span-columns(6 of 12)
    text-align: center;
  }
}

button {
  color: white;
  margin: auto;
  cursor: pointer;
  margin-top: 2.4em;
  width: 40%;
  background-color: transparent;
  border: none;

  .fa{
    margin: 0 0.2em;
    opacity: .5;
  }
  span {
    font-size: 3.1em;
  }
}

.hidden {
  display: none;
}

@import './height_weight_trait.scss';
@import './radio.scss';
