.outfit-selector input{
  display: none;
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.camper{background-image:url(https://dl.dropboxusercontent.com/s/5ue5q0uftfu9zuv/Outfit_1.jpeg);}
.space{background-image:url(https://dl.dropboxusercontent.com/s/6vcqj8dcwatb1i4/Outfit_2.jpeg);}
.lion{background-image:url(https://dl.dropboxusercontent.com/s/drv3743ryoqwtle/Outfit_3.jpeg);}

.outfit-selector input:active +.drinkcard-cc{opacity: .9;}
.outfit-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.drinkcard-cc{
  cursor:pointer;
  background-size:contain;
  background-repeat:no-repeat;
  display:inline-block;
  width: 33%;
  height: 178px;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
  -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
  filter: brightness(1.8) grayscale(1) opacity(.7);

  margin-top: 1em;
  @include span-columns(9)
  @include shift(1.7)
  @include media($tablet) {
    @include span-columns(4)
    @include shift(0)
  }
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}
