@charset "UTF-8";
/* CSS Document */

.hair-amount {
  position: relative;

  .center-on-page {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 2%);
    @include media($mobile) {
      text-align: left;
      margin-left: 2.3em;
      font-size: 2em;
    }

    @include media($tablet) {
      transform: translate(-50%, 25%);
      font-size: 2.4em;
    }

  }
  input[type="checkbox"],
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  label {
    position: relative;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 10px;
    line-height: 36px;
    cursor: pointer;
  }
  label::before {
    content: " ";
    position: absolute;
    top: 6px;
    left: 0;
    display: block;
    width: 24px;
    height: 24px;
    border: 2px solid #46bfbc;;
    border-radius: 4px;
    z-index: -1;
  }
  input[type="radio"] + label::before {
    border-radius: 18px;
  }
  /* Checked */
  input[type="checkbox"]:checked + label,
  input[type="radio"]:checked + label {
    padding: 0.1em 0.6em;
    color: #fff;
  }
  input[type="checkbox"]:checked + label::before,
  input[type="radio"]:checked + label::before {
    top: 0;
    width: 100%;
    height: 100%;
    background: #46bfbc;;
  }
  /* Transition */
  label,
  label::before {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
}
