html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html, body {
  font-family: 'Patrick Hand', cursive; }

.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 3em; }
  .container::after {
    clear: both;
    content: "";
    display: block; }

.header {
  margin-bottom: 2em; }
  @media screen and (min-width: 0px) {
    .header {
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 100%; }
      .header:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 768px) {
    .header {
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 100%;
      margin-left: 8.51064%;
      display: flex;
      align-items: center; }
      .header:last-child {
        margin-right: 0; } }
  .header .titles {
    font-family: 'Rammetto One', cursive;
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .header .titles {
        margin-right: 2em;
        float: left;
        display: block;
        margin-right: 2.12766%;
        width: 65.95745%;
        text-align: left; }
        .header .titles:last-child {
          margin-right: 0; } }
    .header .titles h1 {
      margin-bottom: 0;
      font-size: 2.1em; }
      @media screen and (min-width: 768px) {
        .header .titles h1 {
          font-size: 3.2em; } }
    .header .titles h2 {
      opacity: 0.65;
      margin-top: 0.4em;
      font-size: 1em; }
      @media screen and (min-width: 768px) {
        .header .titles h2 {
          font-size: 1.5em;
          margin-top: -0.3em; } }
    .header .titles .help-text {
      font-family: 'Patrick Hand', cursive;
      margin-top: .8em;
      color: #27918c;
      font-size: 1.4em; }
      @media screen and (min-width: 768px) {
        .header .titles .help-text {
          font-size: 2.1em; } }
  @media screen and (min-width: 768px) {
    .header .owl-wrapper {
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 31.91489%; }
      .header .owl-wrapper:last-child {
        margin-right: 0; } }
  .header .owl-wrapper .owl-icon {
    width: 10em; }
    @media screen and (min-width: 768px) {
      .header .owl-wrapper .owl-icon {
        margin-left: -11em; } }

.trait {
  padding: 3em 1.8em;
  margin: auto;
  color: white;
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 100%; }
  .trait:last-child {
    margin-right: 0; }
  @media screen and (min-width: 1024px) {
    .trait {
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 82.97872%;
      margin-left: 8.51064%;
      padding: 3em; }
      .trait:last-child {
        margin-right: 0; } }
  .trait .trait-icon {
    width: 8em;
    margin: auto;
    opacity: .5; }
  .trait .question {
    font-size: 2.6em;
    margin: 0em 0 0.7em; }
    @media screen and (min-width: 0px) {
      .trait .question {
        line-height: 1.2em; } }
    @media screen and (min-width: 768px) {
      .trait .question {
        font-size: 4em;
        margin: 0em 0 0.2em; } }
  .trait .input-wrapper {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 100%; }
    .trait .input-wrapper:last-child {
      margin-right: 0; }
    @media screen and (min-width: 768px) {
      .trait .input-wrapper {
        float: left;
        display: block;
        margin-right: 2.12766%;
        width: 82.97872%;
        margin-left: 8.51064%; }
        .trait .input-wrapper:last-child {
          margin-right: 0; } }
    .trait .input-wrapper input {
      width: 100%;
      border: 0;
      outline: 0;
      background: transparent;
      border-bottom: 1.2px solid white;
      text-align: center;
      font-size: 2em;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: bold;
      font-family: 'Patrick Hand', cursive;
      color: white; }
      @media screen and (min-width: 768px) {
        .trait .input-wrapper input {
          font-size: 4.5em; } }
    .trait .input-wrapper input[type=number]::-webkit-inner-spin-button, .trait .input-wrapper input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0; }

.trait.name {
  background-color: #27918C; }

.trait.height, .trait.predictor_name {
  background-color: #e3812a; }

.trait.weight {
  background-color: #FFC415; }

.trait.eye_color {
  background-color: #A7CA98; }

.trait.hair_color {
  background-color: #83C6d5; }

.trait.hair_amount, .trait.outfit {
  background-color: #868385; }

.hair_amount.input-wrapper {
  margin-bottom: 10em; }
  @media screen and (min-width: 768px) {
    .hair_amount.input-wrapper {
      margin-bottom: 5em; } }

.nav-buttons {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 100%; }
  .nav-buttons:last-child {
    margin-right: 0; }
  .nav-buttons .back-button {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 48.93617%;
    text-align: center; }
    .nav-buttons .back-button:last-child {
      margin-right: 0; }
  .nav-buttons .next-button {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 48.93617%;
    text-align: center; }
    .nav-buttons .next-button:last-child {
      margin-right: 0; }

button {
  font-family: 'Patrick Hand', cursive;
  color: white;
  margin: auto;
  cursor: pointer;
  margin-top: 2.4em;
  background-color: transparent;
  border: none; }
  button .fa {
    margin: 0 0.2em;
    opacity: .5; }
  button span {
    font-size: 3.1em; }

.results p {
  font-size: 1.3em;
  text-align: left;
  border-top: 1px solid #e0dedc;
  margin: 0;
  padding: 1em .5em; }
  @media screen and (min-width: 768px) {
    .results p {
      padding: 1em 0; } }

.results .item {
  font-weight: bold; }

.results p:nth-child(3n - 1) {
  color: #eca96e; }
  .results p:nth-child(3n - 1) .item {
    color: #e3812a; }

.results p:nth-child(3n - 2) {
  color: #A7CA98; }
  .results p:nth-child(3n - 2) .item {
    color: #7cb065; }

.results p:nth-child(3n - 3) {
  color: #83C6d5; }
  .results p:nth-child(3n - 3) .item {
    color: #4aacc2; }

.view-toggle {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 100%;
  color: #868385;
  margin-top: 2em;
  font-size: 1.2em;
  text-decoration: underline;
  cursor: pointer; }
  .view-toggle:last-child {
    margin-right: 0; }

.spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .4; }
  .spinner .fa {
    color: white;
    margin: 3.5em auto;
    font-size: 3em;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }

@keyframes rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.hidden {
  display: none; }

@media screen and (min-width: 0px) {
  .height.trait input {
    font-size: 3em;
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 48.93617%; }
    .height.trait input:last-child {
      margin-right: 0; } }

@media screen and (min-width: 768px) {
  .height.trait input {
    font-size: 3.9em;
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 23.40426%;
    margin-left: 25.53191%; }
    .height.trait input:last-child {
      margin-right: 0; } }

.height.trait label {
  text-align: left;
  letter-spacing: 3px;
  font-size: 2em;
  margin-top: 0.5em;
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 48.93617%; }
  .height.trait label:last-child {
    margin-right: 0; }
  @media screen and (min-width: 768px) {
    .height.trait label {
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 23.40426%;
      font-size: 3.9em;
      text-align: left;
      margin-top: auto; }
      .height.trait label:last-child {
        margin-right: 0; } }

@media screen and (min-width: 0px) {
  .weight.trait input {
    font-size: 3em;
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 27.65957%; }
    .weight.trait input:last-child {
      margin-right: 0; } }

@media screen and (min-width: 768px) {
  .weight.trait input {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 23.40426%; }
    .weight.trait input:last-child {
      margin-right: 0; } }

.weight.trait label {
  margin-top: 0.5em;
  text-align: left;
  letter-spacing: 3px;
  font-size: 2em;
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 19.14894%; }
  .weight.trait label:last-child {
    margin-right: 0; }
  @media screen and (min-width: 768px) {
    .weight.trait label {
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 23.40426%;
      font-size: 3.9em;
      text-align: left;
      margin-top: auto; }
      .weight.trait label:last-child {
        margin-right: 0; } }

/* CSS Document */
.hair-amount {
  position: relative;
  /* Checked */
  /* Transition */ }
  .hair-amount .center-on-page {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 2%); }
    @media screen and (min-width: 0px) {
      .hair-amount .center-on-page {
        text-align: left;
        font-size: 2em; } }
    @media screen and (min-width: 768px) {
      .hair-amount .center-on-page {
        transform: translate(-50%, 25%);
        font-size: 2.4em;
        margin-left: 2.3em; } }
  .hair-amount input[type="checkbox"],
  .hair-amount input[type="radio"] {
    position: absolute;
    opacity: 0;
    z-index: -1; }
  .hair-amount label {
    position: relative;
    margin-right: 30px;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 10px;
    line-height: 36px;
    cursor: pointer; }
    @media screen and (min-width: 0px) {
      .hair-amount label {
        display: block; } }
    @media screen and (min-width: 768px) {
      .hair-amount label {
        display: inline-block; } }
  .hair-amount label::before {
    content: " ";
    position: absolute;
    top: 6px;
    left: 0;
    display: block;
    width: 24px;
    height: 24px;
    border: 2px solid #46bfbc;
    border-radius: 4px;
    z-index: -1; }
  .hair-amount input[type="radio"] + label::before {
    border-radius: 18px; }
  .hair-amount input[type="checkbox"]:checked + label,
  .hair-amount input[type="radio"]:checked + label {
    padding: 0.1em 0.6em;
    color: #fff; }
  .hair-amount input[type="checkbox"]:checked + label::before,
  .hair-amount input[type="radio"]:checked + label::before {
    top: 0;
    width: 100%;
    height: 100%;
    background: #46bfbc; }
  .hair-amount label,
  .hair-amount label::before {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease; }

.outfit-selector input {
  display: none;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.camper {
  background-image: url(https://dl.dropboxusercontent.com/s/5ue5q0uftfu9zuv/Outfit_1.jpeg); }

.space {
  background-image: url(https://dl.dropboxusercontent.com/s/6vcqj8dcwatb1i4/Outfit_2.jpeg); }

.lion {
  background-image: url(https://dl.dropboxusercontent.com/s/drv3743ryoqwtle/Outfit_3.jpeg); }

.outfit-selector input:active + .drinkcard-cc {
  opacity: .9; }

.outfit-selector input:checked + .drinkcard-cc {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none; }

.drinkcard-cc {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 33%;
  height: 178px;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(0.7);
  -moz-filter: brightness(1.8) grayscale(1) opacity(0.7);
  filter: brightness(1.8) grayscale(1) opacity(0.7);
  margin-top: 1em;
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 74.46809%;
  margin-left: 14.46809%; }
  .drinkcard-cc:last-child {
    margin-right: 0; }
  @media screen and (min-width: 768px) {
    .drinkcard-cc {
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 31.91489%;
      margin-left: 0%; }
      .drinkcard-cc:last-child {
        margin-right: 0; } }

.drinkcard-cc:hover {
  -webkit-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  -moz-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  filter: brightness(1.2) grayscale(0.5) opacity(0.9); }
